/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 2, 2019, 12:19:40 PM
    Author     : Home
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    position: relative; 
    background-color: floralwhite;
}
.jumbotron {
    height:100px;
    
    /* background-color: tomato; */
    background-image:url('../images/tableclothred.png');
   
}

.container, .jumbotron {
    margin-top: 0px;
    padding: 0px;
    
}

hr {
  border-top: 2px solid gray;
}







#Menu {

  
  background-color: tomato;
}



#Contact {
 
}

#ex4 .p1[data-count]:after{
  position:absolute;
  right:5%;
  top: 3%;
  content: attr(data-count);
  font-size:80%;
  padding:.2em;
  
  border-radius:50%;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  font-weight:bold;
}